@model List<FeedbackViewModel>

<h1>Feedback</h1>



<h2>List of feedbacks:</h2>
<div>
    <button type="button" class="btn btn-light"><a asp-controller="Feedback" asp-action="CreateFeedback">Create Feedback</a></button>
</div>
@foreach (FeedbackViewModel feedback in @Model)
{
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: @feedback.Name</li>
        <li class="list-group-item">E-mail: @feedback.Email</li>
        <li class="list-group-item">Message: @feedback.Message</li>
        <li class="list-group-item"><a asp-controller="Feedback" asp-action="EditFeedback" asp-route-id="@feedback.Id">Edit Feedback</a></li>
        <li class="list-group-item"><a asp-controller="Feedback" asp-action="DeleteFeedback" asp-route-id="@feedback.Id">Delete Feedback</a></li>
    </ul>
    <hr />
}